html,
body {
    font-size: 11pt;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    width: 210mm;
    margin: 0 auto;
}

a,
a:visited {
    text-decoration: inherit;
    color: #558;
}

h1,
h2,
h3 {
    margin: 0;
}

ul li {
    list-style-type: circle;
}

header>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#avatar {
    width: 100%;
    border-radius: 50%;
}

#name {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

#contacts {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
}

#contacts li {
    height: 2rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

#contacts li img {
    height: 1rem;
    margin-right: 0.5rem;
}

/* container */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0 2rem;
}

.container h2 {
    font-size: 1.4rem;
    font-weight: normal;
}

.container p:first-child {
    margin-top: 0;
}

.container>div:nth-child(1) {
    text-align: right;
    border-right: 1px solid #BABABA;
    width: 7rem;
    padding-right: 1rem;
}

.container>div:nth-child(2) {
    flex: 1;
    text-align: left;
    width: 180mm;
    margin-left: 2rem;
    border-bottom: 1px solid #DADADA;
}

/* entry */

.entry {
    margin-bottom: 1.5rem;
}

.entry:not(:last-child) {
    border-bottom: 1px dashed #DADADA;
}

.entry>div[name="Date"] {
    float: right;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.entry>div[name="Position"] {
    font-weight: bold;
    font-size: 1.1rem;
}

.entry>div[name="Organization"] {
    font-size: 0.8rem;
    font-style: italic;
}