html,
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

ul li {
    list-style: none;
}

.row {
    min-height: auto;
    width: 60%;
    background: whitesmoke;
    margin: 3rem auto;
    padding: 1.5rem;
    color: black;
}

.profile-picture {
    width: 15%;
    min-width: 130px;
    float: right;
    margin-right: 1.25rem;
}

.contact-info-box {
    width: 70%;
    display: inline-block;
}

.name {
    margin-bottom: -0.5rem;
}

.job-title {
    display: inline-block;
}

.contact-details {
    background: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 2.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}

h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1.5rem 0 0.5rem;
    font-size: 1.3rem;
}

.objective p {
    padding: 0 0.5rem;
    line-height: 1.5rem;
    font-size: 1.3rem;
    color: #000;
}

.education table td {
    padding: 0.5rem;
    font-size: 1.3rem;
    color: #000;
}

.education table tr.school-1 td:first-child {
    width: 10.5rem;
    color: grey;
    padding-bottom: 1.5rem;
}

.education table tr.school-2 td:first-child {
    padding-bottom: 1.5rem;
}