html,
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

.row {
    min-height: 200px;
    width: 60%;
    background: whitesmoke;
    margin: 3rem auto;
    padding: 1.5rem;
    color: black;
}

.profile-picture {
    width: 15%;
    min-width: 130px;
    float: right;
    margin-right: 1.25rem;
}

.contact-info-box {
    width: 70%;
    display: inline-block;
}

.name {
    margin-bottom: -0.5rem;
}

.job-title {
    display: inline-block;
}

.contact-details {
    background: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 2.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}

.objective h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 3.5rem 0 0.5rem;
    font-size: 1.3rem;
}

.objective p {
    padding: 0 0.5rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #000;
}